/*Fonts*/
$headingfont: 'Istok Web', sans-serif;
$bodyfont: 'Lora', serif;

/*Color variables*/
$darkblue: rgb(17,47,70);
$lightblue: rgb(48,88,108);
$darkgrey: rgb(184,176,163);
$grey: rgb(218,210,192);
$lightgrey: rgb(223,213,193);

.admin-top {
  background-color: $darkgrey;
  padding: 10px;
  color: $lightgrey;
  margin-bottom: 20px;
  display:flex;
  justify-content: space-between;
  & img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.admin-links {
  display:flex;
  align-items: center;
}

.user-links {
  display:flex;
  align-items: center;
}

.admin-links a {
    padding: 10px;
    font-family: $bodyfont;
    color: $lightblue;
    font-size: 16px;
    background-color: $grey;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
      &:hover {
        color: $grey;
        background-color: $lightblue;
      }
}

.user-links {
  p {
    font-style: italic;
    margin: 0px 10px;
    color: $lightblue;
    font-size: 16px;
  }
  a {
    padding: 10px;
    font-family: $bodyfont;
    color: $lightblue;
    font-size: 16px;
    background-color: $grey;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
      &:hover {
        color: $grey;
        background-color: $lightblue;
      }
}
}